@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

body {
	background:  #30336b;
}
.maindiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.counter-container {
	display:inline block;
	margin-top: 100px;
}
.counter {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;

}
span
{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  display: grid;
}

  i {
  color: #fff;
  font-size: 60px;
}
